name: wt.pf4 tests

on:
  push:
    branches:
      - master
  pull_request:
    types: ["opened", "synchronize", "reopened"]
  create:

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Install dependencies
        run: |
          pip install pre-commit
      - name: Run pre-commit
        run: |
          pre-commit run --all

  test:
    runs-on: ubuntu-20.04
    needs: lint
    strategy:
      matrix:
        browser: ["firefox", "chrome"]
        tests_path: ["testing/ouia/", "testing/"]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U setuptools pytest pytest-cov pytest-xdist
          python setup.py install
      - name: Fetch selenium image
        run: podman pull quay.io/redhatqe/selenium-standalone:latest
      - name: Test with pytest
        env:
          BROWSER: ${{ matrix.browser }}
        run: |
          pytest -v -n 5 ${{ matrix.tests_path }} --no-cov-on-fail \
                                                  --cov=widgetastic_patternfly4 \
                                                  --cov-append
          mv .coverage ${{ strategy.job-index }}_coverage
      - name: Upload coverage artifact
        uses: "actions/upload-artifact@v2"
        with:
          name: ${{ strategy.job-index }}_coverage
          path: ${{ strategy.job-index }}_coverage

  submit_coverage:
    runs-on: ubuntu-20.04
    needs: test
    steps:
      - uses: actions/setup-python@v2
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U setuptools coverage
          python setup.py install
      - name: Download coverage artifacts
        uses: actions/download-artifact@v2
        with:
          path: /tmp/coverage
      - name: Combine coverage data files
        run: |
          coverage combine -a $(find /tmp/coverage -type f)
          coverage xml -o /tmp/coverage.xml
      - name: Publish coverage
        uses: codecov/codecov-action@v1
        with:
          file: /tmp/coverage.xml
